<!DOCTYPE html>
<html>
  <head>
    <title>Clipchart!</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= csrf_meta_tags %>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container-fluid">
      <h4>
        <%= link_to "Money Pool: $#{MoneyPool.current_balance}" %>
      </h4>
    </div>

    <% @children.order(:name).each do |child| %>
      <div class="container-fluid  <%= child.color %>", id="children">
        <div class="colored-row">
          <div class="col-xl-8">
            <h1>
              <%= link_to "#{child.name}", child_path(child), class:'no-dec-link' %>
              <div class="btn-group-vertical">
                <%= link_to color_up_child_path(child), class:'btn btn-default',
                    method: :put do %>
                    <span class="glyphicon glyphicon-chevron-up"></span>
                <% end %>
                <%= link_to color_down_child_path(child), class:'btn btn-default',
                    method: :put do %>
                    <span class="glyphicon glyphicon-chevron-down"></span>
                <% end %>
              </div>
            </h1>
          </div>
        </div>
      </div>
    <% end %>
    <br/>
    <div class="container-fluid">
      <%= link_to 'Add Child', new_child_path %>
    </div>
  </body>
