<h1>Your Children</h1>

<table>
  <tr>
    <th>Name:</th>
    <th>Current Color:</th>
    <th>Screentime:</th>
    <th colspan="3"></th>
  </tr>

  <%= @children.each do |child| %>
      <tr>
        <td><%= child.name %></td>
        <td><%= child.color %></td>
        <td><%= child.screentime %></td>
        <td><%= link_to 'View', child_path(child) %></td>
        <td><%= link_to 'Delete', child_path(child),
                method: :delete,
                data: {confirm: 'Are you sure?'} %></td>
      </tr>
  <% end %>
</table>
