<div class="container-fluid">
  <h1><%= @child.name %>'s Status</h1>
  <p>Goal: <%= @child.goal %></p>
  <h3>Screentime: <%= @child.screentime %> minutes</h3>
  <p>
    <%= link_to 'Edit', edit_child_path(@child), class: 'btn btn-default' %>
    <%= link_to 'Delete', @child, method: :delete,
        class: 'btn btn-default', data: {confirm: 'Are you sure?'} %>
  </p>
</div>
