<!DOCTYPE html>
<html>
  <head>
    <title>Clipchart!</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= csrf_meta_tags %>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class='<%= controller.controller_name %>'>

    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <%= link_to 'Clipchart!', root_path, class: "navbar navbar-brand" %>
        </div>
        <div class="container-fluid logout">
          <%= link_to 'Logout', logout_path, method: :delete %>
        </div>
      </div>
    </nav>


    <%= yield %>

    <!-- Modal-->
    <div class="modal fade" id="myModal1" role="dialog">
      <div class="modal-dialog">

        <!-- Modal content  -->
        <div class="modal-content">
          <%= form_with url: manual_adjust_current_balance_cents_money_pool_path,
              method: :post do |form| %>
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Adjust balance by how much?</h4>
          </div>
          <div class="modal-body">
              <%= form.text_field :value %>
              <p>Use a - for debits</p>
          </div>
          <div class="modal-footer">
            <div class="actions">
              <%= form.submit "Enter" %>
            </div>
          </div>
          <% end %>
        </div>

      </div>
    </div>

    <footer class="footer text-center">
      <div class="button-group">

        <%= link_to 'Daily Reset', daily_reset_and_distribution_children_path, method: :post,
            class: 'btn btn-default btn-lg',
            data: {confirm: "Distribute awards and reset all children to green?"} %>
        <button type="button" class='btn btn-default btn-lg' data-toggle="modal" data-target="#myModal1">
          <%= "Money Pool: #{number_to_currency(MoneyPool.current_balance)}" %>
        </button>

      </div>
    </footer>

  </body>

</html>
