<!DOCTYPE html>
<html>
  <head>
    <title>Clipchart!</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= csrf_meta_tags %>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class= '<%= controller.controller_name %>'>
    <div class="jumbotron text-center">
      <h1>Clipchart!</h1>
    </div>

          <%= yield %>

    <div class="footer text-center">
      <%= button_to 'Daily Reset', daily_reset_and_distribution_children_path,
          data: {confirm: "Are you sure you want to reset?"} %>
    </div>
  </body>
</html>
